@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* =======================RESET====================== */
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} /* Меняет подсчет ширины блока для более простого подсчета размеров*/
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  line-height: 1;
  /* font-size: 100%; */
  /* font-size: 16px; */
  /*запрещяет самовольное увеличение шрифта на айфонах*/
  /* -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; */
  /*запрещяет самовольное увеличение шрифта на айфонах*/
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;} /*убирает крестик в инпуте на Майкрософт IE*/
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;} /*убирает отступы для кнопок в Mozila*/
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

a {
  text-decoration: none;
}
/*=============================/RESET===================================*/

:root {
	--background: #141414;
	--background-gradient: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #141414);
	--text-color: #e5e5e5;
	--background-button: #4d5053;
	--background-registration: #e50914; 
	--footer-text-color: #808080;

	--banner-background: hsla(250, 6%, 20%, 1);

	--radius-5: 5px;
}



body {
	font-family: 'Open Sans', sans-serif;
	background-color: var(--background);
}

/* SCROLL */
/* :focus-visible { outline-color: var(--background-registration); } */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
  border-radius: var(--radius-5);
}


.wrapper {
  overflow: hidden;
  display: flex; /* нужен код чтобы далее можно было прибить футур к низу */
  flex-direction: column; /* нужен код чтобы далее можно было прибить футур к низу */
  min-height: 100%; /*оболочка будет занимать минимум всю ширину окна браузера */
}

.main {
  flex: 1 1 auto; /*прижимает футер к низу*/
}

[class*="__container"]{  /*селектор атрибута*/
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 25px; /*(отступы безопасности чтобы вьюпорт (контент) не прижимался к краям страницы)при добалении отступа в 15рх в min-width добавляем 30рх и значение будет не 1250 - а 1280рх*/
}


/* 
===================== HEADER ================================
*/
.header {
	position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
	transition: all 0.5s;
}

.header__container {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.nav__avatar {
	border-radius: 5px;
}
/* BURGER */
.header__burger-btn {
	display: none;
	position: relative;
	width: 40px;
	height: 30px;
	border: none;
	background-color: transparent;
	/* background-color: #141414b7; */
	z-index: 2;
}
.header__burger-btn span {
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #fff;
	left: 5px;
	transition: transform 0.5s, opacity 0.5s;
}
.header__burger-btn span:nth-child(1) {
	transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3) {
	transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(2) {
	opacity: 0;
}

.header.open .header__burger-btn span:nth-child(1) {
	transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(3) {
	transform: translateY(0) rotate(-45deg);
}
/* BURGER */


.header__black {
	background-color: var(--background);
}

.header__menu {
  flex: 1 1 auto;
} /*расширяет меню если есть логотип и прижимает кнопку бургера к правому краю*/

.menu {
  display: flex;
  /* justify-content: center; */
}
.menu__list {
  display: flex;
}

.menu__link {
	color: var(--text-color);
	font-weight: 500;
	transition: opacity 0.2s;
}
.menu__link:hover {
	opacity: 0.8;
}

.menu__body {
	display: flex;
	justify-content: flex-start;
	flex: 1 2 auto;
	align-items: center;
	margin-left: 100px;
}

.menu__item {
	margin-right: 50px;
}

.right__section {
	display: flex;
	align-items: center;
}

.form__btn {
	padding: 7px 15px;
	/* padding: 0.5rem 2rem; */
	border-radius: var(--radius-5);

	background-color: var(--background-registration);
	color: var(--text-color);
	font-size: inherit;
	transition: opacity 0.2s;
}

.form__btn:hover {
	/* background-color: #e50914e8; */
	opacity: 0.9;
}
/* 
===================== HEADER ================================
*/

/* 
===================== SEARCH ================================
*/
.search__container {
	position: relative;
  width: 100px;
  height: 30px;
	display: flex;
	justify-content: flex-end;
}
.search__icon {
	position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(/img/search.svg);
  background-size: cover;
  cursor: pointer;

	transition: left 0.2s, background-color 0.5s;
}
.search__input {
	position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  /* width: 0; */
  height: 30px;
  padding: 0 40px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
	font-weight: 500;
  /* transition: width 0.3s ease-in-out;
  display: none; */
	/* border: 1px solid white; */

	transition: width 0.2s, border-color 0.5s, background-color 0.5s, display 0.5s;
  width: 0;
  display: none;
}

.search__icon.active {
	left: -140px;
	background-color: var(--background);
	z-index: 5;

}
.search__input.active {
	display: block;
	width: 200px;
	border: 1px solid white;
	background-color: var(--background);

}

.search__input:focus {
	caret-color: red;
}

.search__input::placeholder {
  color: #fff;
}
/* 
===================== SEARCH ================================
*/

/* 
===================== BANNER ================================
*/
.banner {
	margin-bottom: 30px;
}
.banner__img {
	position: relative;
	height: 800px;
	width: 100%;
	object-fit: cover;
	object-position: 0px -40px;
}

.banner__contents {
	position: absolute;
	top: 280px;
}
.banner__title {
	color: #fff7f7;
	font-size: 48px;
	font-weight: 800;
	margin-bottom: 30px;
	max-width: 500px;
	line-height: 1.5;
}

.spanText {
  font-size: 14px;
  margin-left: 7px;
  font-weight: 700;
  color: var(--text-color);
}

.banner__buttons {
	display: flex;
}

.button__banner {
	padding: 10px 60px;
	font-size: 1.125rem;
	font-weight: 700;
	border-radius: var(--radius-5);
	max-width: 230px;
	transition: opacity 0.2s;
}
.button__banner:hover {
	opacity: 0.9;
}

.button__banner-img {
	width: 30px;
	height: 30px;
	margin-right: 15px;
}

.banner__button-play {
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner__button-desc {
	background-color: var(--background-button);
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner__fade-bottom {
	position: absolute;
	top: 725px;
	width: 100%;
	margin-top: -30px;
	height: 105px;
	/* Цвет нижнего перехода в банере */
	background-image: var(--background-gradient);
	z-index: 2;
}
/* 
===================== BANNER ================================
*/


/* 
===================== GENRE FILMS ================================
*/
.films__container {
	margin-bottom: 10px
}

.films {
	margin-bottom: 20px;
}

.genre__film {
	display: flex;
	margin-left: 20px;
}

.genres__movies {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.genre__section {
	display: flex;
	margin-bottom: 20px;
}

.genre__title {
	color: var(--text-color);
	font-size: 20px;
	font-weight: 700;

	margin-left: 12px;
	margin-bottom: 10px;
}
/* .genre__title-movies {
	color: var(--text-color);
	font-size: 20px;
	font-weight: 700;

	margin-left: 12px;
	margin-bottom: 10px;
} */

.genre__title:first-letter, .genre__title-movies::first-letter {
	text-transform: uppercase;
}

.slider__film {
	padding: 10px;
}

/* .slider__film-box {

} */

.slider__poster-link {
	position: relative;
	display: block;
  height: 250px;
}
.slider__poster-genre {
	position: relative;
	display: block;
  height: 350px;
}

.slider__poster {
	width: 100%;
  height: 100%;
	transition: transform 0.5s;
}


.slider__poster:hover {
	transform: scale(1.08);
	cursor: pointer;
}


.movie__details {
	display: flex;
	gap: 29px;
	flex-wrap: wrap;
	width: 100%;
}
.movie__card {
	height: 265px;
}
.search__img {
	min-width: 100%;
  height: 100%;
	transition: transform 0.5s;
	object-fit: contain;
}

.search__img:hover {
	transform: scale(1.08);
	cursor: pointer;
}
/* 
===================== GENRE FILMS ================================
*/


/* 
===================== FOOTER ================================
*/
.footer {
	margin-bottom: 20px;
}

.footer__icons {
	margin-left: 385px;
	margin-bottom: 20px;
}
.footer__social {
	margin-right: 10px;
	display: inline-block;
	transition: transform 0.2s linear;
}
.footer__social:hover {
	transform: scale(1.2);
}

.footer__link {
	display: flex;
	justify-content: center;
}

.column {
	display: flex;
	flex-direction: column;
	margin-right: 75px;
}

.column__left {
	display: flex;
}
.column__right {
	display: flex;
}

.link__footer {
	color: var(--footer-text-color);
	margin-bottom: 20px;
}
.link__footer:hover {
	text-decoration: underline;
}
/* 
===================== FOOTER ================================
*/

/* 
===================== MODAL ================================
*/

.modal {
  /* display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s ease; */

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal--show {
  /* display: flex;
  justify-content: center;
  align-items: center; */
	
	opacity: 1;
  visibility: visible;
	z-index: 50;
}

.modal__card {
  background-color: #ffffff;
  max-width: 600px;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  /* background-color: #1a191f; */
	background-color: var(--background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.modal__movie-backdrop {
  width: 300px;
  margin: 0 auto;
	margin-bottom: 15px;
}

/* .modal__movie-info {
  margin-left: 20px;
}
.modal__title {
	margin-left: 25px;
} */
.modal__desc {
	margin: 0 20px;
}
.modal__span {
	font-weight: 700;
	font-size: 18px;
}
.modal__movie-title, .modal__movie-release-year, .modal__movie-average, .modal__movie-runtime {
	margin-bottom: 15px;
}
.modal__movie-overview {
	font-size: inherit;
	line-height: 1.5;
	text-align: justify;
	margin-bottom: 15px;
}

.modal__button-close {
  padding: 10px 20px;
	font-size: inherit;
  margin: 10px;
  align-self: center;
	background-color: var(--background);
	color: #808080;
	border: 1px solid var(--text-color);
	transition: all 0.2s;
}
.modal__button-close:hover {
	color: #fff;
	border: 1px solid #fff;
}

.modal__movie-site {
  color: #ffd80e
}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


.netflixFilm {
  display: flex;
  align-items: center;
}
.netflixFilm img {
	vertical-align: top;
}



/* Страница Фильмы */

.section__header-genres {
	margin-top: 15px;
	padding-left: 25px;
	display: flex;
	align-items: center;
	padding-bottom: 15px;
}
.select__title {
	color: var(--text-color);
	margin-right: 20px;
	font-size: 20px;
	font-weight: 700;
}
select {
	background-color: #000;
	color: var(--text-color);
	border: 1px solid var(--text-color);
	padding: 2px;
	font-size: 16px;
}
